*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: Montserrat;
    background-color: #d1d3f3;
    background-image: linear-gradient(to top, rgb(0, 8, 255), transparent);
}

/*-------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0.5em 2em;
    margin: 0 auto;
    box-sizing: content-box;
}

/*-------------------HEADER------------------------------*/

.header {
    width: 100%;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0 auto;
}

.menu {
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
    margin: 0px 3em 0px 0px;
}

.menu__link {
    color: #000;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

/*------------------MAIN-------------------------------*/

.main {
    flex: 1 1 auto;
}

/*-----------------MAIN-BLOCK----------------------------------*/

.main__main-block {
}
.main-block {
    margin-bottom: 8em;
}

.main-block__container {
    display: flex;
    flex-direction: row;
}

.main-block__profile-photo {
    flex: 1;
    position: relative;
    border: 0.3em #131ac4 solid;
    border-radius: 14.969em;
}

.profile-photo__picture {
    width: 100%;
    height: 100%;
    border-radius: 14.969em;
    filter: grayscale(100%);
}

.main-block__content {
    flex: 2;
    width: 50%;
    padding: 1em 2em;
}

.main-block__title-container {
    margin-bottom: 4em;
}

.main-block__title {
    text-align: right;
    margin: 0.5em 0 0.1em 0;
}

.title {
    font-weight: 500;
    font-size: 3.125em;
}

.main-block__subtitle {
    text-align: right;
}

.subtitle {
    font-weight: 500;
    font-size: 1em;
    line-height: normal;
}

.block_title {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
    opacity: 0.8;
}

.main-block__contacts {
    padding-left: 5em;
}

.contacts__item {
    margin: 0 0 1em 0;
}

.contacts__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.contacts__icon {
    background-color: rgba(255, 255, 255, 0.293);
    border-radius: 20%;
    width: 1.5em;
    margin: 0 1em 0 0;
}

.contacts__icon:hover {
    transform: scale(0.9);
}

.contacts__subtitle {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    color: #000;
}

.contacts__subtitle:hover {
    border-bottom: 0.1em #000 solid;
}

/*---------------ABOUT-ME----------------------------------------*/

.main__about-me {
}

.about-me__container {
}

.about-me__title {
}

.about-me__divider {
}

._divider {
    width: inherit;
    height: 0.1em;
    background-color: #ffffff;
    opacity: 0.7;
    margin: 0 0 3em 0;
}

.about-me__description {
}

._el-container {
    padding: 2em;
    background-color: #ffffff;
    color: #000;
    opacity: 0.7;
    border-radius: 2em;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0 0 2em 0;
}

.about-me__el-container {
}

/*--------------------Skills-----------------------------------*/

.main__skills {
}
.skills_container {
}
._container {
}
.skills_title {
}
.block_title {
}
.skills__divider {
}

.skills__el-container {
    display: flex;
    display: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills__item {
    text-transform: uppercase;
    margin: 0 1em 0 0;
}

/*------------------EXPERIENCE-------------------------------------*/

.main__experience {
}
.experience__container {
  flex: 3;
}

.experience__title {
}
.block_title {
}
.experience__divider {
}

.experience__el-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.experience__details {
  margin: 0 2em 0 0;
}

.experience__company-name {
}

.experience__duration {
  margin: 0 0 0 0.4em;
}

._company-name {
  margin: 0 0 0.5em 0;
  font-size: 1.7em;
  font-weight: 500;
  color: #000;
}

.experience__description {
  flex: 1;
}
.experience__position {
  margin: 0 0 1em 0;
}

._position {
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
}

.experience__skills {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1em;
}

.experience__skills_item::before {
  content: "• "; 
  color: #000;
  margin: 0 0.5em 0.5em 0;
}


.experience__text {
  margin-bottom: 1em;
}
/*------------------FOOTER-----------------------------*/

.footer {
}

/*--------------------------------------------*/

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
    .header__logo {
        margin: 0 1em 0 0;
    }

    .menu__item:not(:last-child) {
        margin: 0px 1em 0px 0px;
    }
}
